.coloumn-2{

  float: left;
  width: 100%;
}

.navigation{
  width: 25%;

  float: right;
}
.main-content{
  width: 70%;

  float: left;
}
.footer{
  clear: both;
  text-align: center;
  padding: 2em;
}
.footer address{
  font-style: normal;
}